@import 'scss/variables';

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  font-family: 'Arial';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:  'Arial',
}

main {
  padding: 5%;
  height: auto;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center ;
  background-color: #eeeeee



  ;
}
