@import '../../../scss/variables';

.header {
  height: 4.5rem;
  background: $primary-color;
  position: fixed;
  width: 100%;
  z-index: 2;

  &__spacer {
    height: 4.5rem;
  }

  &__title {
    display: none;
  }

  &__hamburger-login {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__hamburger-img {
    height: 2.5rem;
  }
  &__user-btn {
    background-color: transparent;
    border: none;
  }
  &__user-img {
    height: 2.5rem;
  }
}
